.homepageOuter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.loadingContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-Bold';
    font-size: 32px;
}

.homepageHeader{
    display: flex;
    justify-content: start;
    align-items: center;
}

h2{
    font-family: 'Montserrat-Bold';
    color: #333;
}

.homepageBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
}

.userCardContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333;
    border-bottom: none;
}

.userCardHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 4px;
    border-bottom: 1px solid #333;
}

.userCardHeader:hover{
    cursor: pointer;
}

.header{
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.subLeft{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-Black';
    font-size: 32px;
}

.id{
    width: 100%;
    height: 100%;
    color: #F4C400;
    display: flex;
    align-items: start;
    padding-left: 16px;
}

.subRight{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 8px;
}

.userName{
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}

.deleteUserButton:hover{
    cursor: pointer;
}

.name{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: #333;
}

.email{
    font-family: 'Montserrat-MediumItalic';
    font-size: 12px;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    padding-bottom: 8px;
}

.userCardBody{
    display: none;
}

.userCardBody.active{
    display: block;
}
